body{
   font-family: 'Roboto Mono', monospace;
}
.homee{
    background-color:  #f0f5ff;
}
/* DỊCH VỤ */
.service{
    width: 90%;
    margin: auto;
}
.service section{
    display: flex;
    justify-content: space-around;
}
.home .box{
    width: 20%;
    text-align: center;
    background: #E7EFFF;
    box-shadow: 2px 2px 8px rgba(140, 145, 162, 0.75);
    border-radius: 8px;
    padding: 25px;
}
.home .box  div{
    width: 100%;
}
.home .box div img{
    width: 90%
}
.service section .box p{
    width: 70%;
    margin: auto;
    height: 72px;
}
.service section .box h3{
    margin: 10px 0px;
}
.service section .box button{
    background: rgba(222, 231, 248, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 6px;
    padding: 10px 30px;
}


.home .title{
    margin: 50px 0px;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 103px;
    line-height: 106px;
    letter-spacing: 0.08em;
    color: #312EBD;
}

/* đánh giá */
.comment{
    width: 80%;
    margin: auto;
}
.comment section{
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}
.comment section .box{
    width: 30%;
    margin: 10px 1px;
}

/*slide show*/
.slide-runn{
    width: 90%;
    margin: auto
}
.flex-slide{
    display: flex;
    width: 80%;
    margin: auto;
}
.flex-slide .img-silde{
    width: 45%;
    margin: auto;
    border-radius: 120px;
}
.flex-slide .img-silde img{
    width: 100%;
    height: 290px;
    border-radius: 120px;
}
.flex-slide .news-silde{
    width: 40%;
    margin: 20px 20px;
    padding: 5%
}
.flex-slide .news-silde{
    background: #E7EFFF;
    border-radius: 22px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
}
.flex-slide .news-silde .title-slide{
    line-height: 38px;
}
.flex-slide .news-silde .title-slide h4{
    font-weight: bold
}
.flex-slide .news-silde .text-slide{
    font-size: 18px;
    line-height: 25px;
}

    /*prev next*/
    .icon-slide{
        width: 50px;
        background-color: white;
        border-radius: 22px
    }
    
