@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    font-family: 'Roboto Mono', monospace;
}

label {
    font-family: 'Open Sans', sans-serif;
}

input {
    font-family: 'Roboto Mono', monospace;
}

:root {
    /* color */
    --blue: #91B6F9;
    --white: #FFFFFF;
    --dark-blue: #061837;
    --light-blue: #312EBD;
    --black: #00000057;
    --blur-blue: #97b1e5;
    /* font-family */
    --open-san: 'Open Sans', sans-serif;
    --roboto-mono: 'Roboto Mono', monospace;
}

body {
    background-color: var(--blur-blue);
    position: relative;
}

.form {
    position: relative;
    z-index: 2;
    min-height: 1000px;
    max-width: 589px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: var(--light-blue);
}

.form>h3 {
    color: var(--white);
    font-size: 22px;
    margin-left: 73px;
    padding-top: 30px;
}

#formdangky {
    margin-left: 73px;
    padding-top: 30px;
    position: absolute;
    z-index: 99999;
}

.form-group {
    min-height: 80px;
    margin-top: 8px;
}

.form-group>label {
    color: var(--white);
    font-size: 16px;
}

.form-group>input {
    min-width: 445px;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 8px;
    background-color: var(--white);
    box-shadow: 0 10px 8px var(--black);
}

.form-group>textarea {
    min-width: 445px;
    height: 80px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 8px;
    background-color: var(--white);
    box-shadow: 0 10px 8px var(--black);
}

#btn-submit {
    width: 325px;
    height: 50px;
    margin-left: 60px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 10px 8px var(--black);
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: var(--white);
    background-color: var(--dark-blue);
}

.wave {
    position: relative;
    width: 589px;
    margin-left: -73px;
    z-index: -9999;
}

#wave {
    position: absolute;
    bottom: -110px;
    left: 0;
}

#file-1 {
    position: absolute;
    max-width: 700px;
    max-height: 400px;
    top: -200px;
    right: -350px;
    z-index: -999;
}


/* form-forget-password */

.form-forget-password {
    position: relative;
    min-height: 400px;
    max-width: 557px;
    margin: 100px auto;
    border-radius: 15px;
    background-color: var(--light-blue);
    position: relative;
    z-index: 2;
}

#form-forget {
    margin-left: 63px;
    padding-top: 30px;
}

#form-forget>img {
    position: absolute;
    top: -130px;
    left: 150px;
    max-width: 754px;
    max-height: 400px;
    z-index: -99999;
}

#form-forget>h3 {
    margin: 0 80px;
    color: var(--white);
    font-size: 30px;
    padding-bottom: 30px;
}

#input-email {
    text-align: center;
    height: 60px;
    border-radius: 100px;
}

#btn-forget {
    width: 325px;
    height: 50px;
    margin-left: 60px;
    border-radius: 100px;
    border: none;
    box-shadow: 0 10px 8px var(--black);
    margin-top: 20px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: var(--dark-blue);
    background-color: var(--blue);
}

#circle {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    max-width: 70%;
    max-height: 100%;
}

#circle>circle {
    max-width: 500px;
}


/* header */

.navbar {
    width: 100%;
    max-height: 100px;
    background-color: var(--light-blue);
    position: relative;
    z-index: 1000;
    padding: 20px 10px;
}

.btn-outline-success {
    color: var(--white);
    border: 1px solid var(--white);
    min-width: 120px;
    margin: 0 5px;
}

.d-flex {
    margin: 0 20px;
}

.navbar-brand {
    font-size: 30px;
    color: var(--white) !important;
    font-family: 'Roboto Mono', monospace;
}

.nav-item {
    padding: 0 20px;
    font-size: 18px;
}

.nav-link {
    color: var(--white) !important;
}

.d-flex>.login {
    border: none;
    background-color: var(--dark-blue);
}

.d-flex>.login:hover {
    border: none;
    background-color: var(--blue);
}

.d-flex>.signup {
    border: none;
    background-color: var(--blue);
}

.d-flex>.signup:hover {
    border: none;
    background-color: var(--dark-blue);
}


/* footer */

footer {
    min-height: 405px;
    z-index: 999;
    background-color: var(--light-blue);
    position: relative;
}

.social {
    display: flex;
}

.left-box-footer>a {
    text-decoration: none;
    color: var(--white);
    font-size: 30px;
    font-family: var(--roboto-mono);
}

.left-box-footer>p {
    color: var(--white);
    font-size: 16px;
    font-family: var(--open-san);
}

.social>img {
    width: 150px;
    height: 80px;
    margin: 0 auto;
}

.left-box-footer>.brand-item {
    color: var(--white);
    font-size: 30px;
    font-family: var(--roboto-mono);
}

.left-box-footer>.brand-item:hover {
    color: var(--blur-blue);
}

.left-box-footer>p {
    color: var(--white);
    font-size: 14px;
    font-family: var(--open-san);
}

.middle-box-footer {
    color: var(--white);
    font-family: var(--open-san);
}

.mb-2 {
    display: flex;
    padding: 10px 0;
}

.mb-2>img {
    width: 80px;
    height: 50px;
}

.footer-item {
    width: 250px;
    text-decoration: none;
    color: var(--white);
    font-size: 14px;
}

.footer-item:hover {
    color: var(--blue);
}

.right-box-footer {
    color: var(--white);
    font-family: var(--open-san);
}

#footer-item-email {
    line-height: 42px;
}