/*danh sách*/
.box-drug-client{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.box-drug-client .whats-box{
    width: 30%;
    display: flex;
    margin-left: 1%;
    padding: 1%;
    border-bottom: 1px solid gray
}
.box-drug-client .whats-box .img-listhuoc{
    width: 30%;
}
.box-drug-client .whats-box .img-listhuoc img{
    width: 50%
}
.box-drug-client .whats-box .name-drug{
    width: 100%
}

/*end danh sách*/
/*-----------------------------------------------------------*/
/*CHI TIẾT*/

.tab-chitietthuoc{
    display: flex;
    width: 80%;
    margin: auto;
    font-size: 0.8rem
}
.tab-chitietthuoc a{
    color: #333;
    text-decoration: none;
    list-style: none;
    padding: 2% 0;
    border-bottom: 1px solid #00000024;
    font-weight: 600;
    cursor: pointer;
    display: block;
    width: 100%;
}

.tab-chitietthuoc .chitietthuoc h6{
    color: #0066a6;
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline #0936b387;
    text-underline-position: under;
}
.tab-chitietthuoc .nav_thuoc{
    width: 30%;
    
}
.tab-chitietthuoc .chitietthuoc{
    width: 70%
}
.tab-chitietthuoc i {
    color: #0066a6;
    
    margin: 2%;
}

