.tab-ttcn{
    width: 80%;
    margin: auto;
    font-size: 1.3rem;
    }
    .tab-ttcn a button{
        border: none;
        border-radius: 1%;
        padding: 1%;
        background: #d8e2f4;
    }
    .tab-ttcn a button:hover{
        background: #bacdef;
    }
    .tab-ttcn .box-thongtin{
        font-family: 'Time News Roman';
        display: flex;
        margin-top: 3%;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px #91B6F9;
        border-radius: 10px;
        padding: 3%
    }
    /*thông tin*/
    .box-thongtin .img-thongtin{
        width: 40%;
    }
    .box-thongtin .img-thongtin img{
        width: 70%;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    } 
    .box-thongtin .thongtin{
        width: 40%;
        padding: 2% 0;
    }

    /*bệnh*/
    .tab-ttcn .box-thongtin .table-care{
        width: 40%;
        margin: auto
    }