RewriteEngine on

RewriteRule ^admin/.*$ admin/index.php [NC,QSA]
RewriteRule ^uploads/(.*)$ uploads/$1 [NC,QSA]
RewriteRule ^asset/(.*)$ asset/$1 [NC,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [NC,QSA]